---
layout: default
custom_class: builds

featured_works:
  - image: /img/home/cardboard_thumbnail.jpg
    tag: ui-ux
    link: /projects/cardboard
    title: Cardboard
    subtitle: An appreciation for low fidelity mockups. Made my own tools for rapid prototyping
    date: May 2017

  - image: /img/work/tv-stand/tv-stand.jpg
    tag: carpentry
    link: /projects/tv-stand
    title: Modern TV Stand
    subtitle: A simple TV stand I made for a good friend of mine
    date: October 2018

  - image: /img/work/the-wall/madlibwall.gif
    tag: carpentry
    link: /projects/the-wall
    title: Visualizer Wall
    subtitle: A wall built for a music festival displaying graphics during performances.
    date: August 2018
---

{% include components/category-section-title.html %}
{% include components/project-modal.html %}