<footer class="footer text-center">
<div class="content">
  <h4>aziz always needs something to do.</h4>
  
  <ul class="social-role">
    <li><a href="mailto:azizramos1@gmail.com?subject=Let's Work">azizramos00@gmail.com</a></li>
    <li><a target="_blank" href="https://github.com/hunnitgz-Aziz"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    <li><a target="_blank" href="https://www.instagram.com/_hunnitgz/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  </ul>
</div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>

<script src="{{ "/js/app.js " | prepend: site.baseurl }}"></script>

<script src="/js/jquery.shoutcast.easy.min.js?host=192.240.102.198&port=14293"></script>

<script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>
