<footer class="footer text-center">
<div class="content">

	<nav class="footer-nav">
		<ul>
			<li><a href="/about">About</a></li>
      <li><a href="/web">Web</a></li>
      <li><a href="/builds">Builds</a></li>
      <li><a href="/photography">Photos</a></li>
		</ul>
	</nav>
  <div class="footer-logo">
    <a href="/"><img src="{{ '/img/home/header_img.png' | prepend: site.baseurl }}"></a>
  </div>
  <ul class="social-role">
    <li><a href="mailto:azizramos1@gmail.com?subject=Let's Work"><i class="fas fa-at"></i></a></li>
    <li><a target="_blank" href="https://dribbble.com/azizramos"><i class="fab fa-dribbble"></i></a></li>
    <li><a target="_blank" href="https://github.com/hunnitgz-Aziz"><i class="fab fa-github"></i></a></li>
    <li><a target="_blank" href="https://www.instagram.com/_azizramos/"><i class="fab fa-instagram"></i></a></li>
    <li><a target="_blank" href="https://twitter.com/_azizramos"><i class="fab fa-twitter"></i></a></li>
  </ul>
</div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/app.js " | prepend: site.baseurl }}"></script>

<script type="text/javascript" src="/js/slick.min.js"></script>
