<footer class="footer text-center">
<div class="container">
    <div class="row">
        <div class="footer-col col-md-4">
        </div>
        <div class="footer-col col-md-4">
            <div class="portfolio-head text-center">
                <h4>aziz always needs something to do.</h4>
            </div>
            <ul class="list-inline social-buttons">
                <li><a href="mailto:azizramos1@gmail.com?subject=Let's Work">azizramos00@gmail.com</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
