<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div id="jquery_jplayer_1" class="jp-jplayer"></div>
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand topnav" href="http://notansari.com/"><img src="{{ '/img/home/header_img.png' | prepend: site.baseurl }}"><span class="site-tagline">i am aziz.</span></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/photography">Photography</a></li>
        <li><a href="/about">About</a></li>
        <li>
          <a href="mailto:azizramos00@gmail.com">Contact</a>
        </li>
        <li>
          <a id="play" class="play">Turn on the Radio</a>
          <a id="pause" class="pause">Turn off the Radio</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>