html {
  position: relative;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin-bottom: 7rem;
}

.content {
	margin: auto;
	max-width: 100rem;
	width: 90%;
}

.entry-content {
	margin: auto;
	max-width: 80rem;

	.list-point:before {
		color: #1280f1;
		content:'\25BA';
		margin-right: 1rem;
	}

	pre {
		background: $black;
		counter-reset: line;
		white-space: pre-wrap;
		white-space: -moz-pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;

		code {
			color: $white;
		}
	}
}

.annotation .list-point:before {
	color: #1280f1;
	content:'\25BA';
	margin-right: 1rem;
}

.row-block {
	-moz-column-width: 24em;
  -webkit-column-width: 24em;
  -moz-column-gap: 4em;
  -webkit-column-gap: 4em;
  margin-bottom: 8rem;

  .photo {
  	margin-bottom: 4em;
  }
}



