html {
  position: relative;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin-bottom: 7rem;
}

.content {
	margin: auto;
	max-width: 100rem;
	width: 90%;
}

.entry-content {
	margin: auto;
	max-width: 80rem;

	.list-point:before {
		color: #1280f1;
		content:'\25BA';
		margin-right: 1rem;
	}
}

.annotation .list-point:before {
	color: #1280f1;
	content:'\25BA';
	margin-right: 1rem;
}



