.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e7e7e7;
  padding: 4rem 0;

  .content {
    h4 { margin: 0; }

    .social-role {
      padding: 0;

      li {
        display: inline-block;
        margin: 0 1rem;

        a .fa {
          color: $gray;
          font-size: 1.8rem;
        }
      }
    }
  }
}

@include media-query($phone-portrait) {
  .footer {
    h4 {
      font-size: 1.8rem;
    }
  }
}