.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4rem 0;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;

    @include media-query($tablet-portrait) {
      flex-flow: column;
    }

    .footer-nav {
      @include media-query($tablet-portrait) {
        order: 3;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
          display: inline-block;

          a {
            color: $black;
            padding: 0 0.8rem;
            transition: all ease-in-out 0.2s;

            &:hover {
              color: $light-gray;
              text-decoration: none;
            }
          }
        }
      }
    }

    .footer-logo {
      @include media-query($tablet-portrait) {
        order: 1;
      }

      a {
        img {
          max-width: 50px;
          margin: auto;
        }
      }
    }

    .social-role {
      padding: 0;
      margin: 0;
      list-style-type: none;

      @include media-query($tablet-portrait) {
        order: 2;
        margin: 0.5rem 0;
      }

      li {
        display: inline-block;
        a {
          color: $black;
          padding: 0 0.8rem;
          transition: all ease-in-out 0.2s;

          &:hover {
            color: $light-gray;
          }
        }
      }
    }
  }
}
