@font-face {
  font-family: 'Plantin';
  src: url('../fonts/plantin-regular.ttf') format('truetype');
}

$body: 'Plantin', Helvetica, Arial, sans-serif;

.home {
  .define-you {
    text-align: center;
    padding: 5rem 0;
    border-bottom: 1px solid #E7E7E7;

    p {
      padding: 0 25rem;
      margin-top: 2rem;
    }
  }

  .thoughts {
    h3 {
      font-size: 1.6rem;
    }

    p {
      background: rgba(255, 248, 68, 0.31);
      display: inline;
      font-family: $body;
      font-size: 1.6rem;
    }
  }
}

@media screen and (max-width: $tablet-portrait) {
  .home {
    .define-you {
      p {
        padding: 0 3rem;
      }
    }
    
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .home {
    .define-you {
      p {
        padding: 0 15rem;
      }
    }
  }
}