@font-face {
  font-family: 'Plantin';
  src: url('../fonts/plantin-regular.ttf') format('truetype');
}

$body: 'Plantin', Helvetica, Arial, sans-serif;

.home {
  .home-img {
    background: url('../img/home/film.jpg') no-repeat center center/contain;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: 240px;
    transition: all ease-in-out 0.2s;
    z-index: 0;
  }

  .footer {
    .content {
      flex-flow: column;
      .footer-nav { display: none; }
    }
  }
}