
  .post-a {
    padding-left: 0;
    margin: 1.5rem 0;
  }

  .post-b {
    padding-right: 0;
    margin: 1.5rem 0;
  }

  .post-single {
    max-width: 44rem;
    margin: auto;
    padding-top: 1.5rem;
  }

@include media-query($phone-landscape) {
  .image-lay-2 {
    .post-a {
      padding: 0;
    }

    .post-b {
      padding: 0;
    }

    .post-single {
      max-width: 100%;
    }
  }
}