.navbar {
  background: transparent;
  border: none;
  margin-bottom: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  .site-logo {
    display: block;
    text-align: center;

    img {
      padding: 1rem 0;
      height: 8rem;
      max-width: 240px;
      margin: auto;
      pointer-events: none;
      user-select: none;
    }
  }
}



