// Font weights
$extra-bold: 800;
$bold: 700;
$regular: 400;
$thin: 300;

@font-face {
  font-family: 'Akzidenz Grotesk';
  font-weight: $bold;
  src: url('../fonts/Akzidenz Grotesk Light Bold.ttf') format('truetype');
}

$heading: 'Akzidenz Grotesk', Helvetica, Arial, sans-serif;

.pager {

  .previous a, .next a {
    color: $light-gray;
    font-size: 2rem;
    font-family: $heading;
    line-height: 1;
    font-weight: $bold;
    border: none !important;
    border-radius: 0;
  }

  li {
    a {
      &:hover {
        text-decoration: none;
        background-color: transparent;
      }
    }
  }
}