.post {
  .wrap { margin-bottom: 24rem; }

  .blog-header {
    margin-bottom: 4rem;

    img { 
      margin-bottom: 4.8rem; 
      margin-top: 4rem;
    }

    .blog-journal { margin-top: 4.8rem; }

    .blog-date { font-size: 1.4rem; }

    .blog-date, .blog-journal {
      padding: 0 3rem;
    }
  }

  .blog-content {
    padding: 0 3rem;
  }
}