.tags {
  display: inline;
  padding: 0.4rem;
  font-weight: bold;

  &.branding {
    background-color: green;
    color: $white;
  }

  &.front-end {
    background-color: red;
    color: $white;
  }

  &.ui-ux{
    background-color: yellow;
    font-weight:bold;
    text-transform: uppercase;
  }

  &.photography {
    background-color: blue;
    color: $white;
    
  }

  &.wordpress {
    background-color: #21759A;
    color: $white;
  }

  &.creative-market {
    background-color: #8ba753;
    color: $white;
  }
}