.the-works {
  padding: 5rem 0;

  h2 {
    cursor: pointer;
    a {
      text-decoration: none;
      box-shadow: inset 0 -5px 0 rgba(124, 173, 195, 0.3);
      color: inherit;
      cursor: pointer;
      transition: all 200ms cubic-bezier(0.010, 0.500, 0.465, 0.810);

      &:hover {
        box-shadow: inset 0 -20px 0 rgba(124, 173, 195, 0.3);
      }

    }
  }

  h4 {
    a {
      text-decoration: none;
      box-shadow: inset 0 -5px 0 rgba(124, 173, 195, 0.3);
      color: inherit;
      transition: all 200ms cubic-bezier(0.010, 0.500, 0.465, 0.810);

      &:hover {
        box-shadow: inset 0 -20px 0 rgba(124, 173, 195, 0.3);
      }
    }
  }

  h5 {
    color: $medium-gray;
  }
  .project-item {
    text-align: center;
    margin-bottom: 3.5rem;

  }

  .row-block {
    -moz-column-width: 24em;
    -webkit-column-width: 24em;
    -moz-column-gap: 4em;
    -webkit-column-gap: 4em;
    margin-bottom: 8rem;

    .feature-block {
      display: inline-block;
      margin: 6rem 0 0.5rem;
      width: 100%;
      
      .featured-image {
        a img {
          border-radius: 4px;
          width: 100%;
          transition: all 0.2s ease-in-out;

          &:hover {
            webkit-box-shadow: 0px 25px 38px -13px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 25px 38px -13px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 25px 38px -13px rgba(0, 0, 0, 0.5);
          }
        }
      }

      .featured-info {
        margin-top: 2rem;
        padding: 0 2rem;
      }
    }
  }

  
}